Question 3
Housing<br>
<br>Step 1. Import the necessary libraries
<br>Step 2. Create 3 differents Series, each of length 100, as follows:
<br>• The first a random number from 1 to 4
<br>• The second a random number from 1 to 3
<br>• The third a random number from 10,000 to 30,000
<br>Step 3. Create a DataFrame by joinning the Series by column
<br>Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter
<br>Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
<br>Step 6. Ops it seems it is going only until index 99. Is it true?
<br>Step 7. Reindex the DataFrame so it goes from 0 to 299

In [2]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [3]:
# Step 2. Create 3 differents Series, each of length 100, as follows:
# The first a random number from 1 to 4
# The second a random number from 1 to 3
# The third a random number from 10,000 to 30,000

np.random.seed(0)  # for reproducibility

series1 = pd.Series(np.random.randint(1, 5, 100))    # Random numbers between 1 and 4
series2 = pd.Series(np.random.randint(1, 4, 100))    # Random numbers between 1 and 3
series3 = pd.Series(np.random.randint(10000, 30001, 100))  # Random numbers between 10,000 and 30,000

In [4]:
# Step 3 and 4. Create a DataFrame by joinning the Series by column and Change the name of the columns to bedrs, bathrs, price_sqr_meter
df = pd.DataFrame({'bedrs': series1, 'bathrs': series2, 'price_sqr_meter': series3})
df

    bedrs  bathrs  price_sqr_meter
0       1       2            15021
1       4       3            11134
2       2       1            26409
3       1       1            19680
4       4       3            27340
..    ...     ...              ...
95      1       2            28161
96      3       2            29745
97      4       1            18338
98      2       1            24676
99      1       1            12562

[100 rows x 3 columns]

In [5]:
# Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
bigcolumn = pd.DataFrame(pd.concat([series1, series2, series3], ignore_index=True))
bigcolumn.columns = ['bigcolumn']
print(bigcolumn)

     bigcolumn
0            1
1            4
2            2
3            1
4            4
..         ...
295      28161
296      29745
297      18338
298      24676
299      12562

[300 rows x 1 columns]

In [6]:
# Step 6. Ops it seems it is going only until index 99. Is it true?
if bigcolumn.index[-1] == 99:
    print("The dataFrame is going only until index 99, and it is true")
else:
    print("The dataFrame does not stop at index 99; it continues after that")

The dataFrame does not stop at index 99; it continues after that

In [7]:
# Step 7. Reindex the DataFrame so it goes from 0 to 299
bigcolumn.reset_index(drop=True, inplace=True)
print(bigcolumn)

     bigcolumn
0            1
1            4
2            2
3            1
4            4
..         ...
295      28161
296      29745
297      18338
298      24676
299      12562

[300 rows x 1 columns]